.Container {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 40px;
  background-color: #f4f4f4;
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 100%;
  background: #000000;
}

.timeline-item {
  position: relative;
  margin: 0;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  width: 45%;
}

.timeline-item:nth-child(odd) {
  left: 0;
}

.timeline-item:nth-child(even) {
  left: 55%;
}

.timeline-item::before {
  content: '';
  position: absolute;
  top: -20px;             /* altura do ponto */             /* no meio da timeline */
  transform: translateX(-65%);
  width: 40px;
  height: 40px;
  background: #000000;
  border-radius: 50%;
  /* border: 2px solid #fff; */
  z-index: 2;
}
.timeline-item:nth-child(1)::before {
  top: -5%;
  left: 111.5%;       /* borda direita do card */
}
.timeline-item:nth-child(odd)::before {
  left: 111.5%;      /* borda direita do card */
  transform: translateX(-60%);
}
.timeline-item:nth-child(even)::before {
  left: -10.5%;
  transform: translateX(-60%);      /* borda esquerda do card */
}
.timeline-item:last-child::before {
  top:60%;
}